body {
    margin: 0;  
    background-image: url(/imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;

} 
header{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    height: 10px;
    background-color:;
}
.slider{
    flex: 1;
    overflow: hidden;
}
.slider--width{
    height: 100%;
    display: flex; 
    transition: all ease 0.5s;
}
.slider--item{
    width: 100vw;
    height: inherit;
    background-position: center;  
    background-size: contain;
    background-repeat: no-repeat;
}
.slider--controls{
    position: absolute;
    z-index: 99;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.slider--control{
    width: 80px;
    height: 107%;
    border-radius: 5px;
    align-items: center;
    display: flex;
    font-size: 60px;
    cursor: pointer;
}